@import "../blocks/block/style.scss";

.wrap .foodblogkitchen-toolkit--block {
  max-width: 600px !important;
  margin: 0 auto !important;
}

#foodblogkitchen-toolkit--settings-form {
  .submit {
    margin-top: 16px;
  }
}