<div class="recipe-master--block--jump-to-recipe">
    <a href="#recipe-master--recipe" class="recipe-master--block--jump-to-recipe--link">
        {{translations/jumpToRecipe}}
    </a>

    <style>
        .recipe-master--block--jump-to-recipe {
            --primary: {{options/primaryColor}};
            --primary-contrast: {{options/primaryColorContrast}};
        }
    </style>
</div>
