<div class="foodblogkitchen-toolkit--block--jump-to-recipe">
    <a href="#foodblogkitchen-toolkit--recipe" class="foodblogkitchen-toolkit--block--jump-to-recipe--link">
        {{translations/jumpToRecipe}}
    </a>

    <style>
        .foodblogkitchen-toolkit--block--jump-to-recipe {
            --primary: {{options/primaryColor}};
            --primary-contrast: {{options/primaryColorContrast}};
        }
    </style>
</div>
