.wp-block-recipe-creator-recipe {
  text-align: left;
  margin-bottom: 0 !important;

  .recipe-creator--recipe-block--timings {
    li header {
      margin-bottom: 0.5em;
    }
  }

  .recipe-creator--show-additional-settings {
    display: block;
    margin: 16px 0 0 auto;
  }

  .recipe-creator--block--inner {
    /* Editor Layout */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "title title"
      "intro thumbnail"
      "timings timings"
      "ingredients ingredients"
      "utensils utensils"
      "preparation-steps preparation-steps"
      "video video"
      "notes notes";

    .components-button {
      margin-bottom: 24px;
    }
  }

  .square-baking-pans-x-wrapper {
    display: flex;
    align-items: flex-end;
    height: 100%;
    gap: 8px;

    > div {
      flex-grow: 1;
    }

    .square-baking-pans-x {
      line-height: 30px;
      flex-grow: 0;
    }
  }

  h3 {
    margin: 0 !important;
  }

  p {
    margin-top: 0 !important;
    margin-bottom: 16px !important;
    color: var(--background-contrast) !important;
  }

  .recipe-creator--recipe-block--difficulty--selector {
    margin-bottom: 8px !important;

    .recipe-creator--recipe-block--difficulty {
      cursor: pointer;
      margin-right: 4px;
      margin-bottom: 8px;

      &.unselected {
        opacity: 0.6;
      }
    }
  }

  .recipe-creator--recipe-block--video {
    padding-bottom: 16px;
  }

  .components-input-control__label {
    font-size: 13px;
  }

  .components-input-control__container {
    flex-grow: 0;
  }

  .components-input-control {
    border-color: transparent;
    width: 120px;
    font-weight: normal;

    &:hover {
      border-color: #cccccc;
    }
  }

  .components-base-control__label {
    font-weight: bold;
  }

  .components-base-control__label + .components-text-control__input {
    border-color: inherit;
  }

  .recipe-creator--recipe-block--thumbnail {
    position: relative;

    .recipe-creator--recipe-block--thumbnail-spacer {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      cursor: pointer;

      &.recipe-creator--empty {
        background-color: #efefef;

        &::after {
          content: "3:2";
          font-size: 48px;
          color: #cccccc;
          line-height: 100%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          right: 0;
          text-align: center;
        }
      }
    }
  }

  h4 {
    margin-top: 1rem !important;
    margin-bottom: 0.5rem !important;
    font-size: 1rem !important;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .components-base-control .components-base-control__help {
    margin-bottom: 8px;
  }

  .recipe-creator--recipe-block--utensils {
    ul {
      padding-left: 0;
    }
  }

  .recipe-creator--recipe-block--timings.recipe-creator--recipe-block--timings {
    ul {
      overflow: hidden;

      li {
        float: left;
        margin-right: 16px !important;

        .components-base-control__field {
          margin-bottom: 0;

          .components-text-control__input {
            width: 60px;
            text-align: right;
            direction: rtl;
          }
        }

        span {
          display: flex;
          align-items: center;
          font-weight: normal;
        }
      }
    }
  }

  .components-input-control__suffix {
    font-family: arial, sans-serif;
    font-size: 14px;
    padding-right: 8px;
  }

  .recipe-creator--recipe-block--flex-container {
    display: flex;
    margin-left: -8px;
    margin-right: -8px;

    > * {
      margin: 0 8px;
      flex-grow: 1;
    }
  }

  .recipe-creator--recipe-block--editor {
    h3 {
      margin-bottom: 24px !important;
    }

    .recipe-creator--recipe-block--group-header {
      display: flex;
      justify-content: space-between;
    }
  }

  .recipe-creator--recipe-block--ingredients {
    margin: 24px 0 0 0;

    ul {
      display: block;
      list-style: none;
      padding: 0;
      margin: 16px 0 24px 0;

      li {
        display: block;
        padding: 8px;
        margin: 0;

        &:nth-child(odd) {
          background-color: var(--primary-light);
          color: var(--primary-light-contrast);
          border-radius: 2px;
        }
      }
    }
  }

  .seo-section {
    border-top: 1px solid #efefef;
    background-color: #f8f8f8;
    margin-left: -24px;
    padding: 24px;
    margin-right: -24px;
    margin-bottom: -24px;
    margin-top: 24px;

    * {
      color: black !important;
    }

    .seo-preview {
      margin: 24px 0;
      background-color: #ffffff;
      border: 1px dashed #efefef;
      border-radius: 16px;
      padding: 24px;

      h5 {
        margin-top: 0;
      }
    }
  }
}

.block-editor-block-inspector {
  .components-base-control {
    width: 100%;

    // .components-base-control__field {
    //   display: flex;
    // }
  }
}

.recipe-creator--sidebar {
  .components-panel__row {
    display: block;
  }

  h3 {
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .image-preview {
    display: block;
    font-size: 0;
    line-height: 0;
    height: 75px;
    background-color: #efefef;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 16px;
    position: relative;
    cursor: pointer;
    margin-bottom: 8px;

    .aspect-ratio {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      line-height: 75px;
      font-size: 48px;
      color: #cccccc;
    }

    &.image-preview-3-2 {
      width: 112.5px;
    }
    &.image-preview-1-1 {
      width: 75px;
    }
    &.image-preview-4-3 {
      width: 100px;
    }
    &.image-preview-16-9 {
      width: 133px;
    }
  }
}
