/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-recipe-manager-pro-block {
  text-align: left;

  h3 {
    margin: 0 !important;
  }

  p {
    margin-top: 0 !important;
    margin-bottom: 16px !important;
  }

  .components-button-group {
    margin-bottom: 16px;
  }

  border: 1px solid #efefef;
  padding: 16px;
  // background-color: lightgoldenrodyellow;

  .components-input-control {
    border-color: transparent;
    width: 120px;
    font-weight: normal;

    &:hover {
      border-color: #cccccc;
    }
  }

  .components-base-control__label {
    font-weight: bold;
  }

  .components-base-control__label + .components-text-control__input {
    border-color: inherit;
  }

  .recipe-manager-pro--block--main-image {
    background-color: #efefef;
  }

  .image-preview {
    display: inline-block;
    font-size: 0;
    line-height: 0;
    height: 150px;
    background-color: #efefef;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 16px;
    position: relative;
    cursor: pointer;

    .aspect-ratio {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;
      line-height: 150px;
      font-size: 64px;
      color: #cccccc;
    }

    &.image-preview-1-1 {
      width: 150px;
    }
    &.image-preview-4-3 {
      width: 200px;
    }
    &.image-preview-16-9 {
      width: 266px;
    }
  }

  hr {
    border: 0;
    border-bottom: 1px solid #ffffff;
  }

  h4 {
    margin-top: 1rem !important;
    margin-bottom: 0.5rem !important;
    font-size: 1rem !important;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .components-base-control .components-base-control__help {
    margin-bottom: 8px;
  }

  .recipe-manager-pro--block--timing-list.recipe-manager-pro--block--timing-list {
    ul {
      li {
        .components-base-control__field {
          margin-bottom: 0;

          .components-text-control__input {
            width: 60px;
            text-align: right;
            direction: rtl;
          }
        }

        span {
          display: flex;
          align-items: center;
          font-weight: normal;
        }
      }
    }
  }

  .components-input-control__suffix {
    font-family: arial, sans-serif;
    font-size: 14px;
    padding-right: 8px;
  }

  .recipe-manager-pro--block--preparation-steps.recipe-manager-pro--block--preparation-steps {
    margin: 0;
  }

  .recipe-manager-pro--block--flex-container {
    display: flex;
    margin-left: -8px;
    margin-right: -8px;

    > * {
      margin: 0 8px;
      flex-grow: 1;
    }
  }

  .recipe-manager-pro--block--ingredients {
    display: block;
    list-style: none;
    padding: 0;
    margin: 24px 0 0 0;

    li {
      display: block;
      padding: 8px;
      margin: 0;

      &:nth-child(odd) {
        background-color: #f7e9e9;
        border-radius: 2px;
      }
    }
  }

  .recipe-preparation-steps-list {
    display: block;
    list-style: none;
    padding: 0;
    counter-reset: recipe-manager-steps;

    li {
      display: block;
      padding: 8px;
      margin: 0;
      line-height: 24px;
      display: flex;

      &::before {
        counter-increment: recipe-manager-steps;
        content: counter(recipe-manager-steps);
        text-align: center;
        font-weight: bold;
        display: block;
        width: 24px;
        min-width: 24px;
        height: 24px;
        float: left;
        margin-right: 8px;
        background-color: #f7e9e9;
        border-radius: 50%;
        color: #e27a7a;
      }
    }
  }

  .features-snipped-preview--stars {
    width: 65px;
    height: 15px;
    display: inline-block;
    position: relative;
    background-image: url("data:image/svg+xml,\00003csvg width='13px' height='15px' xmlns='http://www.w3.org/2000/svg'>\00003cpath fill='%23d1d1d1' d='m0,7.6l4.7,0,1.5-4.5,1.5,4.5,4.7,0-3.8,2.8,1.5,4.5-3.8-2.8-3.8,2.8,1.5-4.5'/>\00003c/svg>");

    &--rated {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 50%;

      background-image: url("data:image/svg+xml,\00003csvg width='13px' height='15px' xmlns='http://www.w3.org/2000/svg'>\00003cpath fill='%23fabb05' d='m0,7.6l4.7,0,1.5-4.5,1.5,4.5,4.7,0-3.8,2.8,1.5,4.5-3.8-2.8-3.8,2.8,1.5-4.5'/>\00003c/svg>");
    }
  }

  .features-snipped-preview {
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    box-shadow: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-left: 1px;
    overflow: hidden;
    padding: 0 16px 16px 16px;
    width: 212px;
    background-color: #fff;
    font-size: medium;
    font-weight: normal;
    color: #222;
    float: left;
    margin-right: 16px;
    margin-bottom: 24px;

    &--image-wrapper {
      margin-left: -16px;
      margin-right: -16px;
      cursor: pointer;
    }

    &--image {
      padding-top: 56%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    &--image-wrapper.features-snipped-preview--43 {
      .features-snipped-preview--image {
        padding-top: 75%;
      }
    }

    &--title {
      padding-top: 16px;
      display: -webkit-box;
      font: 16px arial, sans-serif;
      line-height: 20px;
      height: 56px;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      color: #1a0dab;
    }

    &--blog-title {
      display: flex;
      margin: 3px 0 5px 0;
      font: 12px arial, sans-serif;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #202124;
      font-style: normal;
    }

    &--rating {
      color: #757575;
      font: 12px arial, sans-serif;
    }
    &--total-time {
      color: #70757a;
      font: 12px arial, sans-serif;
    }
  }

  .seo-section {
    border-top: 1px solid #efefef;
    background-color: #f8f8f8;
    margin-left: -24px;
    padding: 24px;
    margin-right: -24px;
    margin-bottom: -24px;
    margin-top: 24px;

    .seo-preview {
      margin: 24px 0;
      background-color: #ffffff;
      border: 1px dashed #efefef;
      border-radius: 16px;
      padding: 24px;

      h5 {
        margin-top: 0;
      }
    }
  }

  .features-result-preview {
    clear: both;
    font-family: arial, sans-serif;

    .features-result-preview--headline {
      font-size: 20px;
      line-height: 1.3;
      padding-top: 4px;
      margin-top: 0;
      margin-bottom: 3px;
      color: #1a0dab;
      font-weight: normal;
    }

    .features-result-preview--image-text {
      display: flex;
    }

    .features-result-preview--image {
      width: 70px;
      height: 70px;
      margin-top: 4px;
      border-radius: 8px;
      min-width: 70px;
      background-color: #efefef;
      margin-right: 9px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }

    .features-result-preview--extract {
      line-height: 1.58;
      color: #4d5156;
      font-size: 14px;
      font-family: arial, sans-serif;
      font-weight: normal;

      .features-result-preview--date {
        color: #70757a;
      }
    }

    .features-result-preview--meta {
      color: #70757a;
      line-height: 1.58;
      font-size: 14px;
    }
  }
}

.block-editor-block-inspector {
  .components-base-control {
    width: 100%;

    .components-base-control__field {
      display: flex;
    }
  }
}
