/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 */

// :root {
//   --headline-font-family: "Playfair Display", serif;
//   --headline-font-size: 40px;
//   --headline-font-weight: bold;
//   --sub-headline-font-size: 32px;
//   --sub-headline-font-weight: normal;
//   --background: #fefcfc;
//   --grey: #efefef;
//   --primary: #e27a7a;
//   --primary-light: #f7e9e9;
// }

:root {
  --headline-font-family: Luna-Regular, sans-serif;
  --headline-font-size: 32px;
  --headline-font-weight: normal;
  --sub-headline-font-size: 24px;
  --sub-headline-font-weight: normal;
  --background: #fefcfc;
  --grey: #efefef;
  --primary: #e27a7a;
  --primary-light: #f7e9e9;
}

.recipe-manager-pro--block.recipe-manager-pro--block {
  padding: 24px;
  margin-bottom: 32px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 8px;
  background-color: var(--background);

  .recipe-manager-pro--block--intro {
    display: flex;
    text-align: left;
    margin: 0 -16px 1.5rem -16px;
    flex-direction: column-reverse;

    p:last-child {
      margin-bottom: 0;
    }

    > * {
      padding: 0 16px;
      box-sizing: border-box;
      width: 50%;
    }

    .recipe-manager-pro--block--main-image {
      width: 100%;
      margin-bottom: 1rem;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 4px;
      box-shadow: 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

      &::before {
        content: "";
        display: block;
        width: 100%;
        padding-top: 66.6%;
      }
    }

    @media screen and (min-width: 768px) {
      flex-direction: row;

      > * {
        width: 100%;
      }

      .recipe-manager-pro--block--main-image {
        margin-bottom: 0;
      }
    }
  }

  h2 {
    font-size: var(--headline-font-size);
    font-weight: var(--headline-font-weight);
    font-family: var(--headline-font-family);
    line-height: 1.5;
    margin: 0 0 1.5rem 0;
  }

  h3 {
    font-size: var(--sub-headline-font-size);
    font-weight: (--sub-headline-font-weight);
    font-family: var(--headline-font-family);
    line-height: 1.2;
    margin-bottom: 0;
  }

  hr {
    margin: 0;
    padding: 0;
    border-color: var(--grey);
    border-style: solid;
    border-width: 0px 0px 1px 0;
  }

  .recipe-manager-pro--block--timing-list {
    padding: 1rem 0;

    ul {
      font-style: normal;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      margin-left: 0;
      opacity: 0.8;
      font-size: 16px;
      margin: 0;
      padding: 0;
      justify-content: left;
      align-items: center;

      &::before {
        content: "";
        background-image: url("../../../assets/clock.svg");
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 40px 40px;
        margin-right: 16px;
      }

      li {
        display: block;
        margin-left: 0;
        white-space: nowrap;
        margin: 0 32px 0 0;
      }

      header {
        font-size: 13px;
        font-family: var(--headline-font-family);
        font-style: none;
      }

      span {
        font-style: normal;
        font-weight: bold;
      }
    }
  }

  .recipe-manager-pro--block--headline {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: flex-start;

    flex-direction: column;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      align-items: center;
    }
  }

  .recipe-manager-pro--block--servings-editor {
    display: flex;
    margin-top: 0.5rem;
    width: 100%;

    > span,
    button {
      display: block;
      background-color: var(--grey);
      border: 0;
      border-radius: 4px;
      appearance: none;
      padding: 8px 16px;
      line-height: 1.4;
      cursor: pointer;

      &[disabled] {
        cursor: default;
      }
    }

    > span {
      margin: 0 4px;
      flex-grow: 1;
    }

    @media screen and (min-width: 768px) {
      margin-top: 0;
      width: auto;

      > span {
        flex-grow: unset;
      }
    }
  }

  .recipe-manager-pro--block--ingredients {
    padding: 0;
    width: 100%;
    border-collapse: collapse;
    border-width: 0;
    box-sizing: border-box;
    border-spacing: 0px;

    tr {
      background-color: transparent;

      td {
        padding: 8px;
        margin: 0;
        text-align: left;
        border: none;

        &.recipe-manager-pro--block--amount {
          text-align: right;
          white-space: nowrap;
          padding-left: 24px;
          padding-right: 0;
        }

        &.recipe-manager-pro--block--ingredient {
          width: 100%;
        }
      }

      &:nth-child(odd) {
        td {
          background-color: var(--primary-light);

          &:first-child {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
          }

          &:last-child {
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
          }
        }
      }
    }
  }

  .recipe-manager-pro--block--preparation-steps {
    display: block;
    list-style: none;
    padding: 0;
    counter-reset: recipe-manager-steps;

    li {
      display: block;
      padding: 8px 0 8px 32px;
      margin: 0;
      line-height: 24px;
      position: relative;

      &::before {
        counter-increment: recipe-manager-steps;
        content: counter(recipe-manager-steps);
        text-align: center;
        font-weight: bold;
        display: block;
        width: 24px;
        min-width: 24px;
        height: 24px;
        float: left;
        margin-right: 8px;
        background-color: var(--primary-light);
        border-radius: 50%;
        color: var(--primary);
        position: absolute;
        top: 8px;
        left: 0;
      }
    }
  }

  .recipe-manager-pro--block--difficulty {
    border-radius: 8px;
    background-color: var(--primary-light);
    padding: 2px 12px;
    margin-bottom: 1rem;
    border: 1px solid var(--primary);
    color: var(--primary);
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
  }

  .recipe-manager-pro--block--rating {
    text-align: center;

    ol {
      list-style: none;
      padding: 0;
      font-size: 0;
      line-height: 0;
      margin: 0;
      display: inline-block;
      vertical-align: middle;

      li.recipe-manager-pro--block--star {
        margin: 0;
        padding: 0 2px;
        box-sizing: content-box;
        background-repeat: no-repeat;

        display: inline-block;
        width: 32px;
        height: 32px;
        background-image: url("../../../assets/star.svg");
        background-size: 32px 32px;
        background-repeat: center center;
        text-indent: -999em;

        &.selected {
          background-image: url("../../../assets/star-filled.svg");
        }

        &.half-selected {
          background-image: url("../../../assets/star-half-filled.svg");
        }
      }
    }

    &.recipe-manager-pro--block--rating--small {
      text-align: left;

      li.recipe-manager-pro--block--star {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
      }
    }

    &.recipe-manager-pro--block--interactive {
      ol {
        &:hover {
          li.recipe-manager-pro--block--star,
          li.recipe-manager-pro--block--star.selected,
          li.recipe-manager-pro--block--star.half-selected {
            background-image: url("../../../assets/star-highlighted.svg");
          }
        }

        li.recipe-manager-pro--block--star {
          cursor: pointer;

          &:hover,
          &.selected:hover,
          &.half-selected:hover {
            ~ * {
              background-image: url("../../../assets/star.svg") !important;
            }
          }
        }
      }
    }

    p {
      text-align: center;
    }
  }

  .dummy-text {
    background-color: #4d5156;
    background-color: #70757a;
    color: transparent;

    &.light {
      background-color: #70757a;
    }
  }
}
